/* ! root */
:root {
  font-size: 12px;
}

/* ! navbar */
@media screen and (max-width: 1200px) {
  .icon-menu {
    display: block;
  }

  nav ul {
    transform: translateX(100%);
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    width: 350px;
    flex-direction: column;
    height: 100%;
    padding-inline: 10px;
    gap: 0;
    /* to disappear */
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
  nav ul li {
    padding-block: 20px;
  }
  nav ul li .close-icon {
    display: block;
    text-align: right;
  }
  nav div.mode {
    margin-left: auto;
    margin-right: 20px;
  }
}
/* ! container */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    /* padding right , left */
    padding-inline: 15px;
  }
}

/* ! header */
@media screen and (min-width: 1200px) {
  header {
    min-height: 100vh;
  }
}
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column-reverse;

    justify-content: center;
  }
  header .container > * {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  header .header-content {
    margin-top: 30px;
  }
  header .btn-main {
    --border-radius: 100vh;
  }
}

@media screen and (max-width: 576px) {
  header .buttons-groub {
    flex-direction: column;
  }
}

/* ! chefs */
@media screen and (max-width: 992px) {
  .chefsCards .card {
    width: calc(calc(100% - var(--gap)) / 2);
  }
}
@media screen and (max-width: 768px) {
  .chefsCards .card {
    width: 100%;
  }
}

/* ! gallery */
@media screen and (max-width: 1400px) {
  .gallery .galleryImg {
    height: 1025px;
  }
}

@media screen and (max-width: 1200px) {
  .gallery .galleryImg {
    height: 860px;
  }
}

@media screen and (max-width: 992px) {
  .gallery .galleryImg {
    height: 1480px;
  }
  .galleryImg picture {
    width: calc(calc(100% - var(--gap)) / 2);
  }
  .pizza {
    order: 1;
  }
  .burger {
    order: 2;
  }
  .fried {
    order: 6;
  }
  .omelette {
    order: 4;
  }
  .kofta {
    order: 7;
  }
  .pizza-slices {
    order: 6;
  }
  .stack {
    order: 3;
  }
}

@media screen and (max-width: 768px) {
  .gallery .galleryImg {
    height: auto;
  }
  .galleryImg picture {
    width: 100%;
  }
}

/* ! Contact */

@media screen and (max-width: 992px) {
  form .inputGroub input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contactMeans > div {
    width: 100%;
  }
}
