/* ! root */
:root {
  font-size: 12px;
}
/* ! container */
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    /* padding right , left */
    padding-inline: 15px;
  }
}

/* ! header */
@media screen and (min-width: 1200px) {
  header .container {
    min-height: 100vh;
  }
}
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column-reverse;

    justify-content: center;
  }
  header .container > * {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  header .header-content {
    margin-top: 30px;
  }
  header .btn-main {
    --border-radius: 100vh;
  }
}

@media screen and (max-width: 576px) {
  header .buttons-groub {
    flex-direction: column;
  }
}
