/* basics for website */

:root {
  /* colores */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-gray: #eee;

  /* fonts */
  --font-default: 'Open Sans', system-ui, -apple-system, 'Seogoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-primary: 'Amatic SC', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  /* ^ Animation Options */
  --animation-duration: 400ms;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a,
span {
  display: inline-block;
  color: black;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

ul {
  list-style-type: none;
}

/****************** Repeated style ************************/

.section-bg {
  background-color: var(--color-light-gray);
}

.btn {
  --border-width: 2px;
  --border-radius: 0px;
  --border-color: transparent;
  --padding: 0.3125rem 0.75rem;
  --background-color: transparent;
  --hover-bg-color: transparent;
  --hover-color: transparent;
  --font-size: 1rem;
  --color: var(--color-light);
  padding: var(--padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color var(--animation-duration),    color var(--animation-duration);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-transition: background-color var(--animation-duration),    color var(--animation-duration);
  -moz-transition: background-color var(--animation-duration),    color var(--animation-duration);
  -ms-transition: background-color var(--animation-duration),    color var(--animation-duration);
  -o-transition: background-color var(--animation-duration),    color var(--animation-duration);
}

.btn:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

.container{
  --padding:2.5rem 0.3125rem;
  --margin-top:0;
  --margin--bottom:0
  width: 100%;
  padding: var(--padding);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-q-bottom);
  /* margin-left,right */
  margin-inline: auto;


}

.btn-main {
 --background-color:var(--color-primary);
 --border-radius: 0 100vh 100vh ;
 --padding: .5rem 1.25rem;
 --margin :.9375rem;
 --hover-bg-color:hsl(
  var(--primary-hue),
  var(--primary-saturation),
  calc(var(--primary-lightness) + 10%)
 );
 --hover-color:var(--color-light);
}

/* HEADER */
header .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header .container > * {
  width: 40%;
}

header .container picture img {
  width: 100%;
  filter:drop-shadow( 0px 0px 10px #0006);
  -webkit-filter:drop-shadow( 0px 0px 10px #0006);
}

header .container picture img:hover {
  animation: shake 1s infinite;
  -webkit-animation: shake 1s infinite;
}
@keyframes shake {
  0%{ transform: translate(1px ,1px) rotate(0deg); -webkit-transform: translate(1px ,1px) rotate(0deg); -moz-transform: translate(1px ,1px) rotate(0deg); -ms-transform: translate(1px ,1px) rotate(0deg); -o-transform: translate(1px ,1px) rotate(0deg);
}
  10%{ transform: translate(-1px ,-2px) rotate(-1deg); -webkit-transform: translate(-1px ,-2px) rotate(-1deg); -moz-transform: translate(-1px ,-2px) rotate(-1deg); -ms-transform: translate(-1px ,-2px) rotate(-1deg); -o-transform: translate(-1px ,-2px) rotate(-1deg); }
  20%{ transform: translate(-3px ,0px) rotate(1deg); -webkit-transform: translate(-3px ,0px) rotate(1deg); -moz-transform: translate(-3px ,0px) rotate(1deg); -ms-transform: translate(-3px ,0px) rotate(1deg); -o-transform: translate(-3px ,0px) rotate(1deg); }
  30%{ transform: translate(3px ,2px) rotate(0deg); -webkit-transform: translate(3px ,2px) rotate(0deg); -moz-transform: translate(3px ,2px) rotate(0deg); -ms-transform: translate(3px ,2px) rotate(0deg); -o-transform: translate(3px ,2px) rotate(0deg); }
  40%{ transform: translate(1px ,-1px) rotate(1deg); -webkit-transform: translate(1px ,-1px) rotate(1deg); -moz-transform: translate(1px ,-1px) rotate(1deg); -ms-transform: translate(1px ,-1px) rotate(1deg); -o-transform: translate(1px ,-1px) rotate(1deg); }
  50%{ transform: translate(-1px ,2px) rotate(-1deg); -webkit-transform: translate(-1px ,2px) rotate(-1deg); -moz-transform: translate(-1px ,2px) rotate(-1deg); -ms-transform: translate(-1px ,2px) rotate(-1deg); -o-transform: translate(-1px ,2px) rotate(-1deg); }
  60%{ transform: translate(-3px ,1px) rotate(0deg); -webkit-transform: translate(-3px ,1px) rotate(0deg); -moz-transform: translate(-3px ,1px) rotate(0deg); -ms-transform: translate(-3px ,1px) rotate(0deg); -o-transform: translate(-3px ,1px) rotate(0deg); }
  70%{ transform: translate(3px ,1px) rotate (-1deg); -webkit-transform: translate(3px ,1px) rotate (-1deg); -moz-transform: translate(3px ,1px) rotate (-1deg); -ms-transform: translate(3px ,1px) rotate (-1deg); -o-transform: translate(3px ,1px) rotate (-1deg); }
  80%{ transform: translate(-1px ,-1px) rotate(1deg); -webkit-transform: translate(-1px ,-1px) rotate(1deg); -moz-transform: translate(-1px ,-1px) rotate(1deg); -ms-transform: translate(-1px ,-1px) rotate(1deg); -o-transform: translate(-1px ,-1px) rotate(1deg); }
  90%{ transform: translate(1px ,2px) rotate(0deg); -webkit-transform: translate(1px ,2px) rotate(0deg); -moz-transform: translate(1px ,2px) rotate(0deg); -ms-transform: translate(1px ,2px) rotate(0deg); -o-transform: translate(1px ,2px) rotate(0deg); }
  100%{ transform: translate(1px ,-2px) rotate(-1deg); -webkit-transform:; -moz-transform:; -ms-transform:; -o-transform:; }
}

.header-content h2{
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 4.0625rem;
}
.header-content p{
  font-size: 1rem;
color: #4f4f5a;
/* margin top , margin bottom */
margin-block: 1.25rem;
line-height: 1.6 ;
}

header .buttons-groub {
  display: flex;
  align-items: center ;
  gap: 1.25rem ;
}

header .video-btn{
  display: flex;
  align-items: center;
  transition: color var(--animation-duration);
  -webkit-transition: color var(--animation-duration);
  -moz-transition: color var(--animation-duration);
  -ms-transition: color var(--animation-duration);
  -o-transition: color var(--animation-duration);
}

header .video-btn:hover {
  color: var(--color-primary);
 
}

.video-btn .icon{
  width: 3.4375rem;
  height: 3.4375rem;
  background-image: linear-gradient(to right, red 0% 50%,transparent 50% 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video-btn .icon::before {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: inherit;
  position: absolute;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.video-btn .icon i {
  z-index: 9;
} 