/* basics for website */

:root {
  /* colores */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-gray: #eee;

  /* fonts */
  --font-default: 'Open Sans', system-ui, -apple-system, 'Seogoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-primary: 'Amatic SC', sans-serif;
  --font-secondary: 'Inter', sans-serif;
  /* ^ Animation Options */
  --animation-duration: 400ms;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a,
span {
  display: inline-block;
  color: var(--color-default);
}

a {
  text-decoration: none;
}

img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

ul {
  list-style-type: none;
}

/****************** Repeated style ************************/

.section-bg {
  background-color: var(--color-light-gray);
}

.btn {
  --border-width: 2px;
  --border-radius: 0px;
  --border-color: transparent;
  --padding: 0.3125rem 0.75rem;
  --background-color: transparent;
  --hover-bg-color: transparent;
  --hover-color: transparent;
  --font-size: 1rem;
  --color: var(--color-light);
  padding: var(--padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color var(--animation-duration),    color var(--animation-duration);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);
  -webkit-transition: background-color var(--animation-duration),    color var(--animation-duration);
  -moz-transition: background-color var(--animation-duration),    color var(--animation-duration);
  -ms-transition: background-color var(--animation-duration),    color var(--animation-duration);
  -o-transition: background-color var(--animation-duration),    color var(--animation-duration);
}

.btn:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}

.container{
  --padding:2.5rem 0.3125rem;
  --margin-top:0;
  --margin--bottom:0
  width: 100%;
  padding: var(--padding);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-q-bottom);
  /* margin-left,right */
  margin-inline: auto;


}

.btn-main {
 --background-color:var(--color-primary);
 --border-radius: 0 100vh 100vh ;
 --padding: .5rem 1.25rem;
 --margin :.9375rem;
 --hover-bg-color:hsl(
  var(--primary-hue),
  var(--primary-saturation),
  calc(var(--primary-lightness) + 10%)
 );
 --hover-color:var(--color-light);
}

.mainTitle {
  margin-bottom: 1.25rem ;
  text-align: center;
}
.mainTitle h2{
  font-size: .875rem;
  text-transform: uppercase;
  color: var(--color-tertiary);
  font-weight: 400;
}
.mainTitle span{
  color: var(--color-primary);
}
.mainTitle p{
  font-size: 3.125rem;
  font-family: var(--font-primary);
}

/************************** Navbar */
    
nav{
  background-color: var(--color-light);
  position: fixed;
  left: 0;
top: 0;
width: 100%;
z-index: 9999;
}

body:has(.nav-linkes:target) nav{
  height: 100vh;
  background-color: #fff9;
}

nav .container{
  --padding :25px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  display: flex;
  gap: 30px;
  transition: transform var(--animation-duration);
  -webkit-transition: transform var(--animation-duration);
  -moz-transition: transform var(--animation-duration);
  -ms-transition: transform var(--animation-duration);
  -o-transition: transform var(--animation-duration);
}
body:has(.nav-linkes:target) nav ul{
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
}
nav ul li a{
 font-size: 17px;
 font-weight: 600;
 color: var(--color-tertiary);
 position: relative;
 transition: color var(--animation-duration) ;
 -webkit-transition: color var(--animation-duration) ;
 -moz-transition: color var(--animation-duration) ;
 -ms-transition: color var(--animation-duration) ;
 -o-transition: color var(--animation-duration) ;
}

nav ul li a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  left: 0;
  bottom: -3px;
  background-color: var(--color-primary);
  transition: width var(--animation-duration);
  -webkit-transition: width var(--animation-duration);
  -moz-transition: width var(--animation-duration);
  -ms-transition: width var(--animation-duration);
  -o-transition: width var(--animation-duration);
}
nav ul li a:hover{
  color: #000;
}

nav ul li a:hover::before{
  width: 100%;
}

nav ul li .close-icon {
  display: none;
}
nav ul li a.close-icon{
  font-size: 25px;
}
nav .logo{
  font-size: 30px;
  font-family: var(--font-primary);
}
nav .logo::after{
  content: ".";
  color: var(--color-primary);
}
.mode i {
  font-size: 25px;
  cursor: pointer;
}

.mode .light{
  display: none;
}
body:not(:has(:target)) .home-link,
body:has(.home:target) .home-link,
body:has(.chefs:target) .chefs-link,
body:has(.gallery:target) .gallery-link,
body:has(.contact:target) .contact-link{

  color: #000;
}

body:not(:has(:target)) .home-link::before,
body:has(.home:target) .home-link::before,
body:has(.chefs:target) .chefs-link::before,
body:has(.gallery:target) .gallery-link::before,
body:has(.contact:target) .contact-link::before{
  width: 100%;
}


















/* ****************************************HEADER */
header{
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 85px;
}

header .container > * {
  width: 40%;
}

header .container picture img {
  width: 100%;
  filter:drop-shadow( 0px 0px 10px #0006);
  -webkit-filter:drop-shadow( 0px 0px 10px #0006);
}

header .container picture img:hover {
  animation: shake 1s infinite;
  -webkit-animation: shake 1s infinite;
}
@keyframes shake {
  0%{ transform: translate(1px ,1px) rotate(0deg); -webkit-transform: translate(1px ,1px) rotate(0deg); -moz-transform: translate(1px ,1px) rotate(0deg); -ms-transform: translate(1px ,1px) rotate(0deg); -o-transform: translate(1px ,1px) rotate(0deg);
}
  10%{ transform: translate(-1px ,-2px) rotate(-1deg); -webkit-transform: translate(-1px ,-2px) rotate(-1deg); -moz-transform: translate(-1px ,-2px) rotate(-1deg); -ms-transform: translate(-1px ,-2px) rotate(-1deg); -o-transform: translate(-1px ,-2px) rotate(-1deg); }
  20%{ transform: translate(-3px ,0px) rotate(1deg); -webkit-transform: translate(-3px ,0px) rotate(1deg); -moz-transform: translate(-3px ,0px) rotate(1deg); -ms-transform: translate(-3px ,0px) rotate(1deg); -o-transform: translate(-3px ,0px) rotate(1deg); }
  30%{ transform: translate(3px ,2px) rotate(0deg); -webkit-transform: translate(3px ,2px) rotate(0deg); -moz-transform: translate(3px ,2px) rotate(0deg); -ms-transform: translate(3px ,2px) rotate(0deg); -o-transform: translate(3px ,2px) rotate(0deg); }
  40%{ transform: translate(1px ,-1px) rotate(1deg); -webkit-transform: translate(1px ,-1px) rotate(1deg); -moz-transform: translate(1px ,-1px) rotate(1deg); -ms-transform: translate(1px ,-1px) rotate(1deg); -o-transform: translate(1px ,-1px) rotate(1deg); }
  50%{ transform: translate(-1px ,2px) rotate(-1deg); -webkit-transform: translate(-1px ,2px) rotate(-1deg); -moz-transform: translate(-1px ,2px) rotate(-1deg); -ms-transform: translate(-1px ,2px) rotate(-1deg); -o-transform: translate(-1px ,2px) rotate(-1deg); }
  60%{ transform: translate(-3px ,1px) rotate(0deg); -webkit-transform: translate(-3px ,1px) rotate(0deg); -moz-transform: translate(-3px ,1px) rotate(0deg); -ms-transform: translate(-3px ,1px) rotate(0deg); -o-transform: translate(-3px ,1px) rotate(0deg); }
  70%{ transform: translate(3px ,1px) rotate (-1deg); -webkit-transform: translate(3px ,1px) rotate (-1deg); -moz-transform: translate(3px ,1px) rotate (-1deg); -ms-transform: translate(3px ,1px) rotate (-1deg); -o-transform: translate(3px ,1px) rotate (-1deg); }
  80%{ transform: translate(-1px ,-1px) rotate(1deg); -webkit-transform: translate(-1px ,-1px) rotate(1deg); -moz-transform: translate(-1px ,-1px) rotate(1deg); -ms-transform: translate(-1px ,-1px) rotate(1deg); -o-transform: translate(-1px ,-1px) rotate(1deg); }
  90%{ transform: translate(1px ,2px) rotate(0deg); -webkit-transform: translate(1px ,2px) rotate(0deg); -moz-transform: translate(1px ,2px) rotate(0deg); -ms-transform: translate(1px ,2px) rotate(0deg); -o-transform: translate(1px ,2px) rotate(0deg); }
  100%{ transform: translate(1px ,-2px) rotate(-1deg); -webkit-transform: translate(1px ,-2px) rotate(-1deg); -moz-transform: translate(1px ,-2px) rotate(-1deg); -ms-transform: translate(1px ,-2px) rotate(-1deg); -o-transform: translate(1px ,-2px) rotate(-1deg); }
}

.header-content h2{
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 4.0625rem;
}
.header-content p{
  font-size: 1rem;
color: #4f4f5a;
/* margin top , margin bottom */
margin-block: 1.25rem;
line-height: 1.6 ;
}

header .buttons-groub {
  display: flex;
  align-items: center ;
  gap: 1.25rem ;
}

header .video-btn{
  display: flex;
  align-items: center;
  transition: color var(--animation-duration);
  -webkit-transition: color var(--animation-duration);
  -moz-transition: color var(--animation-duration);
  -ms-transition: color var(--animation-duration);
  -o-transition: color var(--animation-duration);
}

header .video-btn:hover {
  color: var(--color-primary);
 
}

.video-btn .icon{
  width: 3.4375rem;
  height: 3.4375rem;
  background-image: linear-gradient(to right, var(--color-primary) 0% 50%,transparent 50% 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.video-btn .icon::before {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-light);
  border-radius: inherit;
  position: absolute;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.video-btn .icon i {
  z-index: 9;
} 

.icon-menu{
  display: none;
  font-size: 26px;
}

/* ****************************************CHEFS */
.chefsCards{
  padding-block: 1.25rem;
  --gap :1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.chefsCards .card{
  width: calc(calc(100% - var(--gap) * 2) / 3);
  /*background-color: aqua;
  */border-radius:.625rem ;
  -webkit-border-radius:.625rem ;
  -moz-border-radius:.625rem ;
  -ms-border-radius:.625rem ;
  -o-border-radius:.625rem ;
  overflow: hidden;
  box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, .2);
  transition: transform var(--animation-duration);
  -webkit-transition: transform var(--animation-duration);
  -moz-transition: transform var(--animation-duration);
  -ms-transition: transform var(--animation-duration);
  -o-transition: transform var(--animation-duration);
  position: relative;
  /* background-color: var(--color-light); */
  background-color: #000;
}
.chefsCards .card:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.chefsCards .card img{
  width: 100%;
}

.chefsCards .card:hover .socialBox {
  right: 20px;
  transition: right var(--animation-duration) var(--animation-duration);

}

.card picture {
  position: relative;
}

.card picture::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3.4375rem;
  bottom: -0.125rem;
  left: 0;
  right: 0;
  background-image: url(../images/wave.svg);
  background-repeat:repeat-x ;
}

.chefsCards .card .cardContent{
  padding: .625rem 1.5625rem 1.5625rem
  ;
  text-align: center;
}
.cardContent h3{
  font-size: 1.25rem;
}
.cardContent span{
  margin-block:10px ;
  color: var(--color-tertiary);
}
.cardContent p{
  font-style: italic;
  color: var(--color-tertiary);
}

.card .socialBox{
  background-color: #ffffff4d;
  position: absolute;
  right: -100px;
  top: 2.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
}

.card .socialBox a {
  padding: .625rem;
}

.card .socialBox a i:hover {
color: #37373fe6;
}
.card .socialBox a i {
  font-size: 20px;
  color: #37373f66;
  transition: color var(--animation-duration);
  -webkit-transition: color var(--animation-duration);
  -moz-transition: color var(--animation-duration);
  -ms-transition: color var(--animation-duration);
  -o-transition: color var(--animation-duration);
}

/*! gallery */

.gallery .galleryImg{
  --gap:20px;
  height: 1180px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  flex-direction:column ;

}
.galleryImg img {
  width: 100%;
  transition: scale var(--animation-duration);
  -webkit-transition: scale var(--animation-duration);
  -moz-transition: scale var(--animation-duration);
  -ms-transition: scale var(--animation-duration);
  -o-transition: scale var(--animation-duration);
}
.galleryImg picture {
  width: calc( calc(100% - var(--gap) * 2) / 3 );
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
}

.galleryImg picture:hover .layer{
top: 0;
}
.galleryImg picture:hover  img {
  scale: 1.1;
}

.gallery .layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000096;
  color: #fff;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: top var(--animation-duration);
  -webkit-transition: top var(--animation-duration);
  -moz-transition: top var(--animation-duration);
  -ms-transition: top var(--animation-duration);
  -o-transition: top var(--animation-duration);
  padding: 20px;
}

.layer p {
  margin-top: 10px;
  text-align: center;
}

/* ! Contact */

.contact iframe {
  width: 100%;
  height: 350px;
}
.contact .contactMeans{
  display: flex;
  flex-wrap: wrap;
  --gap :10px
  ;
  gap: var(--gap);
  margin-block: 20px;
}

.contactMeans > div {
  width: calc(calc(100% - var(--gap)) / 2);
  background-color:hsl(var(--light-hue), var(--light-saturation), calc( var(--light-lightness) - 5%));
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact .contactMeans .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: var(--color-primary);
flex-shrink: 0;
}
.contact .contactMeans .icon i {
  font-size: 20px;
  color: var(--color-light);
}
.contact .contactMeans  h3{
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 700px;
  margin-bottom: 5px;
}

.contact .contactMeans  h3 + * {
  font-size: 17px;
}

.contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  --gap:10px;
  gap: var(--gap);
  background-color: var(--color-light);
  box-shadow: 0 0 30px #00000014;
  padding: 20px;
}
.contact form > *:not(button) {
  width: 100%;
}
form .inputGroub {
  display: flex;
  flex-wrap: wrap;

gap: var(--gap);
}

form .inputGroub input {
  width:calc( calc(100% - var(--gap)) / 2);
}

.contact input ,
.contact textarea{
    font-family: inherit;
    padding: 15px;
    border: 2px solid hsl(var(--light-hue),   calc(var(--light-saturation) + 10%),    calc( var(--light-lightness) - 10%));
    transition:border-color var(--animation-duration) ;
    -webkit-transition:border-color var(--animation-duration) ;
    -moz-transition:border-color var(--animation-duration) ;
    -ms-transition:border-color var(--animation-duration) ;
    -o-transition:border-color var(--animation-duration) ;
}

.contact :is(input, textarea):focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact textarea {
  resize: vertical;
  max-height: 350px;
  min-height: 150px;
}

.contact .btn-main {
  --background-color:var(--color-primary);
  --border-radius: 100vh ;
  --font-size: 15px;
  --padding: 15px 30px;
  --margin :20px;
 }