.parent {
  background-color: tomato;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap;
}

.child {
  height: 200px;
  width: 50%;
}

.child1 {
  background-color: aliceblue;
}
.child2 {
  background-color: antiquewhite;
}
.child3 {
  background-color: aqua;
}
.child4 {
  background-color: blue;
}

@media screen and (max-width: 992px) {
  .parent {
    flex-direction: column;
  }
  .child {
    width: 100%;
  }
}
