* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 20px;
  width: calc(100% / 5);
  background-color: aqua;
}

img {
  width: 100%;
}
